ManageNotification/ManageNotification/Service References/SendSMSService/BulkSmsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NiisSmsGateway.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NiisSmsGateway.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResponseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:long" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseDto" nillable="true" type="tns:ResponseDto" />
</xs:schema>